<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Okay let begin</h3>
      <hr>
      <app-servers></app-servers>

    </div>
  </div>
<!--  <div class="row">-->
<!--    <div class="col-lg-3">-->
<!--      <app-success-alert></app-success-alert>-->
<!--    </div>-->
<!--    <div class="col-lg-3">-->
<!--      <app-warning-alert></app-warning-alert>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div>-->
<!--    <app-assignment-input-data-blinding></app-assignment-input-data-blinding>-->
<!--  </div>-->

</div>



